.cabecalho-imagem{
    background-color: blue;
    width: 70%;
}

.cabecalho{
    background-color: blue; 
    display: flex;
    padding: 37x 0;}

.section1{
    background-color: blue;
padding: 180;}

.section2{
    background-color: rgb(255, 0, 0);
padding: 180;}

