.cabecalho-imagem{
    background-color: blue;
    width: 40%;
}

.cabecalho{
    background-color: blue; 
    display: flex;
    padding: 37x 0;}

.section1{
    background-color: black;
padding: 50;}

.section2{
    background-color: rgb(255, 0, 0);}

