.cabecalho-imagem{
    width: 9%;
}

.cabecalho{
    background-color: blue; 
    display: flex;
    padding: 37x 0;}

.section1{
    background-color: black;}

.section2{
    background-color: rgb(255, 0, 0);}

    .cabecalho imagem{
    width: 20%;
    }